@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
// font-family: 'Pathway Gothic One', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
// font-family: 'Carter One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
// font-family: 'Marcellus', serif;

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
// font-family: 'Alata', sans-serif;

html {
  color: #333;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}